spring:
  application:
    name: server-app

  datasource:
    url: jdbc:h2:mem:txndb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
    hikari:
      maximum-pool-size: 50
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    root: WARN
    org.springframework.web: WARN
    org.hibernate.SQL: OFF

server:
  port: 8080
  tomcat:
    threads:
      max: 1000
      min-spare: 200
    accept-count: 5000
    max-connections: 10000
    connection-timeout: 20000

client-app-1:
  password: Pass@12345A

client-app-2:
  password: Pass
